# Ignore everything in the repository
*

# Allow the docs directory itself
!compiled_html_site/
# Allow everything inside the docs directory (including subdirectories and files)
!compiled_html_site/**

!.gitignore
!.nojekyll
!README.md

/.quarto/
**/*.quarto_ipynb
